h1, h2, h3, h4, h5, h6{
  font-family: var(--tipo-letra-h);
  font-weight: var(--peso-letra-g);
}
h1{
  font-size: 80px;
}
h2{
  font-size: 72px;
}
h3{
  font-size: 2.4rem;
}
h4{
  font-size: 1.8rem;
}
h5{
  font-size: 1.2rem;
}
h6, b, strong, a{
  font-weight: var(--peso-letra-b);
}
a{
  text-decoration: none;
  color: var(--color-prima-azul);
}
a:hover, a:active{
  color: var(--color-comp-azul);
}
a.link--secundario{
  text-decoration: none;
  color: var(--color-prima-violeta);
}
a:hover.link--secundario, a:active.link--secundario{
  color: var(--color-comp-morado);
}

a.link--ok{
  text-decoration: none;
  color: var(--color-prima-verde);
}
a:hover.link--ok, a:active.link--ok{
  color: var(--color-comp-azul);
}

a.link--cancelar{
  text-decoration: none;
  color: var(--color-gris);
}
a:hover.link--cancelar, a:active.link--cancelar{
  color: var(--color-negro);
}

em, i{
  font-weight: var(--peso-letra-g);
  font-style: normal;
}
em{
  font-style: normal;
}
