h1, h2, h3, h4, h5, h6{
  font-family: var(--tipo-letra-h);
  font-weight: var(--peso-letra-g);
}
h1{
  font-size: 80px;
}
h2{
  font-size: 72px;
}
h3{
  font-size: 2.4rem;
}
h4{
  font-size: 1.8rem;
}
h5{
  font-size: 1.2rem;
}
h6, b, strong, a{
  font-weight: var(--peso-letra-b);
}
em, i{
  font-weight: var(--peso-letra-g);
  font-style: normal;
}
em{
  font-style: normal;
}

/*Links y botones*/
/*Links*/
a{
  text-decoration: none;
  color: var(--color-prima-azul);
}
a:hover, a:active{
  color: var(--color-comp-azul);
}
a.link--secundario{
  text-decoration: none;
  color: var(--color-prima-violeta);
}
a:hover.link--secundario, a:active.link--secundario{
  color: var(--color-comp-morado);
}

a.link--ok{
  text-decoration: none;
  color: var(--color-prima-verde);
}
a:hover.link--ok, a:active.link--ok{
  color: var(--color-comp-azul);
}

a.link--cancelar{
  text-decoration: none;
  color: var(--color-gris);
}
a:hover.link--cancelar, a:active.link--cancelar{
  color: var(--color-negro);
}
/*Botones*/
.boton-general{
  border-radius: 0 !important;
  text-transform: none !important;
  font-family: var(--tipo-letra-h) !important;
  font-weight: var(--peso-letra-b) !important;
  padding: 5px 20px !important;
  margin: 20px 0 !important ; 
}
/*Primarios*/
.boton-primario-azul{
  border: 2px solid var(--color-blanco) !important;
  background-color: var(--color-prima-azul) !important;
  color: var(--color-blanco) !important;
}
.boton-primario-azul:hover{
  background-color: var(--color-comp-azul) !important;
}
.boton-primario-violeta{
  border: 2px solid var(--color-blanco) !important;
  background-color: var(--color-prima-violeta) !important;
  color: var(--color-blanco) !important;
}
.boton-primario-violeta:hover{
  background-color: var(--color-comp-morado) !important;
}
.boton-primario-verde{
  border: 2px solid var(--color-blanco) !important;
  background-color: var(--color-prima-verde) !important;
  color: var(--color-blanco) !important;
}
.boton-primario-verde:hover{
  background-color: var(--color-comp-azul) !important;
}
.boton-primario-cancelar{
  border: 2px solid var(--color-blanco) !important;
  background-color: var(--color-negro) !important;
  color: var(--color-blanco) !important;
}
.boton-primario-cancelar:hover{
  background-color: var(--color-gris) !important;
}
/*Outlined*/
.boton-outlined-azul{
  border: 2px solid var(--color-prima-azul) !important;
  color: var(--color-prima-azul) !important;
}
.boton-outlined-azul:hover{
  border: 2px solid var(--color-comp-azul) !important;
  color: var(--color-comp-azul) !important;
}
.boton-outlined-violeta{
  border: 2px solid var(--color-prima-violeta) !important;
  color: var(--color-prima-violeta) !important;
}
.boton-outlined-violeta:hover{
  border: 2px solid var(--color-comp-morado) !important;
  color: var(--color-comp-morado) !important;
}
.boton-outlined-verde{
  border: 2px solid var(--color-prima-verde) !important;
  color: var(--color-prima-verde) !important;
}
.boton-outlined-verde:hover{
  border: 2px solid var(--color-comp-azul) !important;
  color: var(--color-comp-azul) !important;
}
/*Disabled*/
.boton-disabled{
  opacity: 0.4 !important;
  box-shadow: none !important;
}
.boton-disabled:hover{
  cursor: not-allowed !important;
}
