@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;600&family=Zilla+Slab:wght@300;400;600&display=swap");

/*Variables*/
:root {
  /*Tipografías*/
  --tipo-letra-p: 'Zilla Slab', sans-serif;
  --tipo-letra-h: 'Arvo', sans-serif;
  --peso-letra-g: 400;
  --peso-letra-l: 300;
  --peso-letra-b: 600;
  /*Colores*/
  /*Colores primarios*/
  --color-negro: #0E0E0E;
  --color-gris: #5b5a5a;
  --color-blanco: #F5F3F4;
  --color-prima-azul: #05AAF5;
  --color-prima-violeta: #A67DFE;
  --color-prima-amarillo: #FED802;
  --color-prima-verde: #45E054;
  /*Colores secundarios*/
  --color-secun-beige: #EECF96;
  --color-secun-aguamarina: #A1ECCE;
  --color-secun-violeta: #EFE3FF;
  --color-secun-amarillo: #FCFAA5;
  --color-secun-verde: #ABAB6C;
  /*Colores complementarios*/
  --color-comp-naranja: #FD4E22;
  --color-comp-azul: #2B8395;
  --color-comp-morado: #764572;
  --color-comp-amarillo: #E6AE33;
  --color-comp-cafe: #BE5B44;
  /*patrones*/
  --patron-carton: url('./assets/images/patrones/carton_claro.png');
  --patron-carton-oscuro: url('./assets/images/patrones/carton.png');
  --patron-cinta: url('./assets/images/patrones/cinta.png');
  /*z-index*/
  --z1: 1;
  --z2: 3;
  --z3: 7;
  --z4: 9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 24px;
  font-family: var(--tipo-letra-p);
  font-weight: var(--peso-letra-g);
}
body{
  color: var(--color-negro);
  background-image: var(--patron-carton);
}
